[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty
GenericName=Terminal Emulator
Comment=Fast, feature-rich, GPU based terminal
Exec=/home/tarcisio/Development/kitty/kitty/launcher/kitty
Icon=/home/tarcisio/Development/kitty/logo/kitty.png
Categories=System;TerminalEmulator;
StartupNotify=true
StartupWMClass=kitty
